Repository yoshiori/four-six: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Create calc method for total water
  .eslintignore
  .eslintrc.json
  .gitignore
  __tests__/brewing.test.js
  eslint.config.js
  package-lock.json
  package.json
  src/brewing.js
  tailwind.config.js
Due: eslint --fix, prettier --write

Add calc pour ammounts method
  __tests__/brewing.test.js
  src/brewing.js
Due: eslint --fix, prettier --write

Add calc recipe function
  __tests__/brewing.test.js
  src/brewing.js
Due: eslint --fix, prettier --write

Change to use TypeScript
  .husky/pre-commit
  .lintstagedrc.json
  __tests__/brewing.test.js
  __tests__/brewing.test.ts
  build.js
  eslint.config.js
  jest.config.ts
  package-lock.json
  package.json
  src/app.ts
  src/brewing.js
  src/brewing.ts
  src/input.css
  src/types.ts
  tsconfig.build.json
  tsconfig.json
Due: eslint --fix, prettier --write

Add github action for pages
  .github/workflows/deploy.yml
  build.js
  src/app.css
  src/index.html
Due: eslint --fix, prettier --write

Add timer
  __tests__/pour-timer.test.ts
  __tests__/timer.test.ts
  eslint.config.js
  src/app.ts
  src/brewing.ts
  src/index.html
  src/pour-timer.ts
  src/timer.ts
  src/types.ts
Due: eslint --fix, prettier --write

Refactor: Modifiy to SPA and fix tailwind issue
  build.js
  package-lock.json
  package.json
  postcss.config.js
  src/app-state.ts
  src/app.css
  src/app.ts
  src/complete-page.ts
  src/index.html
  src/input.css
  src/page-manager.ts
  src/setup-page.ts
  src/timer-page.ts
  tailwind.config.js
Due: eslint --fix, prettier --write

Add support i18n
  src/app.ts
  src/complete-page.ts
  src/i18n-system.ts
  src/i18n.ts
  src/index.html
  src/locales/en.ts
  src/locales/ja.ts
  src/setup-page.ts
  src/timer-page.ts
Due: none

Add test for i18n
  __tests__/i18n-system.test.ts
  __tests__/i18n.test.ts
  __tests__/setup.ts
  eslint.config.js
  jest.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Add GitHub Actions for CI
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/pr-check.yml
  jest.config.ts
  package.json
Due: prettier --write

Fix coverage threshold
  .github/workflows/ci.yml
  jest.config.ts
Due: none

Fix timer page
  src/i18n-system.ts
  src/timer-page.ts
Due: none

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{json,css,md})
